@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #eee;
    height: 100rem;
}

a {
    text-decoration: none;
}

.continer {
    width: calc(100% - 140px);
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.active {
    font-weight: 700;
}

header {
    margin-top: 10px;
    background-color: #dedbdb;
    padding: 1rem;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.logo img {
    width: 35px;
}

header .logo a {
    text-decoration: none;
    color: #545BE8;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #101928;
}

header .auth {
    gap: 100px;
}

header .auth a {
    padding: 5px 10px;
    text-decoration: none;
}

header .login {
    border: 0.412px solid #545BE8;
    border-radius: 4.119px;
}

header .register {
    background-color: #545BE8;
    color: #fff;
    border-radius: 4.119px;
}

main {
    height: 100vh;
}

footer {
    background-color: #393E46;
    padding: 5rem 3rem;
}

footer .row {
    gap: 6rem;
}

footer a {
    color: #FFF;
    font-size: 1.2rem;
}

footer .first {
    width: calc((100% - 6rem) / 2);
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer .logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: fit-content;
}

footer .icons {
    width: 10rem;
    display: flex;
    gap: 1rem;
    box-sizing: content-box;
}

footer .icons svg {
    font-size: 2rem;
    border: solid 0.1rem #FFF;
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

footer .last {
    color: #fff;
}

footer .last {
    color: #FFF;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    text-align: center;
}

footer .last .footer-item {
    width: calc((100% - 15rem) / 4);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .last .footer-item nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}