@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #eee;
}

a {
    text-decoration: none;
}

.continer {
    width: calc(100% - 140px);
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.active {
    font-weight: 700;
}

header {
    margin-top: 10px;
    background-color: #dedbdb;
    padding: 1rem;
    position: sticky;
    top: 0;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.logo img {
    width: 35px;
}

header .logo a {
    text-decoration: none;
    color: #545BE8;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #101928;
}

header .auth {
    gap: 100px;
}

header .login {
    border: 0.412px solid #545BE8;
    border-radius: 4.119px;
    padding: 5px 10px;
}

.register {
    background-color: #545BE8;
    color: #fff;
    border-radius: 4.119px;
    padding: 5px 10px;
}

.bigins {
    gap: 2rem;
    background: #F5F5F5;
    padding: 5rem 0rem;
}


.bigins .first {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc((100% - 2rem) / 2);
}

.bigins .first span {
    color: #545BE8;
}

.bigins h1 {
    color: #141E32;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: Poppins;
}

.bigins p {
    color: #969696;
}

.boton {
    display: flex;
    gap: 3rem;
}

.boton .play {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.boton .play svg {
    box-sizing: content-box;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #F0C932;
    fill: white;
}

.boton .play span {
    color: #141E32;
}

.bigins .last {
    width: calc((100% - 2rem) / 2);
}

.bigins .last img {
    width: 100%;
    padding: 2rem 5rem;
}

.second {
    gap: 1rem;
    padding: 5rem 0rem;
    flex-wrap: wrap;
}

.second .first {
    display: flex;
    flex-direction: column;
    width: calc((100% - 1rem) / 4);
    gap: 1rem;
}

.second .first span {
    color: #545BE8;
    font-weight: 400;
}

section .first h2 {
    font-family: Poppins;
    color: #141E32;
    font-size: 2rem;
}

.second .first p {
    color: #969696;
}

.courses {
    padding: 1rem 0rem;
    margin: 2rem 0rem;
}

.second .last {
    width: calc((100% - 1rem) / 2);
}

.second .last .row {
    justify-content: center;
    gap: 2rem;
}

.second .last .item {
    display: flex;
    flex-direction: column;
    background-color: #545BE8;
    gap: 1rem;
    padding: 1rem 0.5rem;
    color: #FFF;
    width: 10rem;
    height: 10rem;
}

.second .last .item img {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #FFF;
}

.second .last .item p {
    color: #DDD;
    font-size: 0.7rem;
}

.threed {
    background: linear-gradient(#545BE8 0%, #272DB0);
    padding: 5rem 0rem;
    gap: 1rem;
}

.threed .first img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: #F0C932;
}

.threed .last {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: calc((100% - 1rem) / 2);
}

.threed .last .spanone {
    color: #F0C932;
    font-size: 0.7rem;
}

.threed .last h4 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
}

.threed .last p {
    color: #DDD;
    font-size: 1.7rem;
}

.threed .last .number {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.threed .last .number .num {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.threed .last .number .num span:first-of-type {
    color: #F0C932;
    font-size: 1.5rem;
}
.threed .last .number .num span:last-of-type{
    color: #DDD;
}

.courses .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: stretch;
}

.courses .first {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 1rem) / 2);
}

.courses img {
    width: 100%;
    filter: brightness(90%);
}

.courses .course-item {
    width: calc((100% - 1rem) / 2);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 8.2372px 10px rgba(0, 0, 0, 0.1);
}

.cours {
    position: relative;
}

.cours-card {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
}

.cours-card span:first-of-type {
    align-self: self-start;
    padding: -0.5rem;
    margin: 0.7rem;
    background-color: #545BE8;
}

.cours-card span:last-of-type {
    align-self: self-end;
    padding: 1rem;
    font-family: Poppins;
}

.cours-info {
    padding: 1rem;
}

.cours-info h4 {
    color: #141E32;
}

.cours-info .row:first-of-type span:last-of-type {
    color: #545BE8;
}

.cours-info .row:last-child {
    color: #969696;
    justify-content: flex-start;
    gap: 1rem
}

.courses .last {
    width: calc((100% - 1rem) / 2);
    display: flex;
    flex-direction: column;
    padding: 10rem 2rem;
    gap: 3rem;
}

.courses .last span {
    color: #545BE8;
}

.courses .last h2 {
    color: #141E32;
    font-size: 3.2rem;
}

.courses .last p {
    color: #969696;
}

.courses .last a {
    background-color: #545BE8;
    color: #fff;
    border-radius: 4.119px;
    padding: 0.5rem 1.3rem;
    width: fit-content;
    font-family: Inter;
}

.testimonials {
    gap: 2rem;
}

.testimonials h2 {
    font-family: Mada;
    color: #0D1222;
    text-align: center;
}

.testimonials .row {
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 3rem 0rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    width: calc((100% - 2.5rem) / 2);
    padding: 1.4rem;
    gap: 1rem;
    box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.10);
}

.photoclinet {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.photoclinet img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.testimonial .rating img {
    width: 1rem;
    height: 1rem;
}

.infoclint {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.infoclint h3 {
    color: #969696;
}

blockquote {
    color: #646464;
}

.testimonial {
    position: relative;
}

.testimonial::before {
    content: ' ';
    position: absolute;
    border-top: solid 4rem #bcbcbc;
    border-left: solid 4rem transparent;
    top: 0;
    right: 0;
}

footer {
    background-color: #393E46;
    padding: 5rem 3rem;
}

footer .row {
    gap: 5rem;
}

footer a {
    color: #FFF;
    font-size: 1.2rem;
}

footer .first {
    width: calc((100% - 6rem) / 2);
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer .logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: fit-content;
}

footer .icons {
    width: 10rem;
    display: flex;
    gap: 1rem;
    box-sizing: content-box;
}

footer .icons svg {
    font-size: 2rem;
    border: solid 0.1rem #FFF;
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

footer .last {
    color: #FFF;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    text-align: center;
}

footer .last .footer-item {
    width: calc((100% - 15rem) / 4);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .last .footer-item nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}